.chat-contents
  .contents-header
    .contents-header__left-text
      %h2.contents-header__left-text__current-group TECH::CAMP
      %ul.contents-header__left-text__member-list
        Member：
        %li.contents-header__left-text__member-list__member<
          reo
    =link_to "#" do
      .contents-header__edit-btn Edit
  .messages
    .message
      .message__up-info
        %p.message__up-info__talker kishida
        %p.message__up-info__date 2019/08/21(Wed) 10:00:00
      %p.message-text おはよう
  .form
    .form__message
      %input{placeholder: "type a message"}
      =fa_icon 'image'
    %input{ type: "submit", class: "submit-btn", value: "Send"}
